.content {
    .sidebar-container {
        transition-duration: 0.5s;
        text-align: right;
        width: 1rem;
        z-index: 9;
        
        .hamburger {
            background: #000;
            display: inline-block;
            margin: 0;
            padding: 0.25rem 0.25rem 0.25rem 0;
            cursor: pointer;
    
            span {
                width: 1rem;
                height: 1px;
                background: #fff;
                border: 1px solid;
                display: block;
                margin: 0.25rem 0.5rem;
                padding: 0;
            }
        }
    
        .sidebar-content {
            display: none;
            padding-top: 2rem;
    
            a {
                text-align: center;
                font-size: 1.25rem;
                font-weight: 400;
                color: #fff !important;
                margin: 2rem auto;
                display: block;
                text-decoration: none !important;
            }
            a:hover {
                background: rgba(0, 0, 0, 0.8);
                color: rgba(255, 255, 255, 0.85);
            }
        }
    }
    .sidebar-container.open {
        width: 15rem;
        max-width: 50%;
        background: #000;
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 0.5rem 1rem 1rem 1rem;
    
        .sidebar-content {
            display: block;
        }
    }

    .outside-sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background: #f1eff4;
        width: calc(100% - 3rem);
    }
}